.keys-edit-wrapper {
  .panel-heading {
    .workflow-name {
      font-size: 15px;
    }
    .workflow-version {
      font-size: 13px;
    }
    .btn {
      margin-left: 10px;
    }
  }
  .panel-body {
    .fields-wrapper {
      .table {
        margin-bottom: 10px;
      }
    }
  }
}