<div>
    <div class="modal-header">
      <button ng-click="vm.cancel()" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">
        数据打包
      </h5>
    </div>
    <form class="form-horizontal w5c-form" role="form" novalidate w5c-form-validate="vm.metaData.validationOption" name="yearForm">

      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group">
            <label for="startTime" class="col-sm-4 control-label">开始时间：</label>
            <div class="col-sm-4 date-picker" style="padding-left: 0px">
              <date-picker name="startTime" ng-model="vm.formData.startTime"></date-picker>
            </div>
          </div>
          <div class="form-group">
            <label for="endTime" class="col-sm-4 control-label">结束时间：</label>
            <div class="col-sm-4 date-picker" style="padding-left: 0px">
              <date-picker name="endTime" ng-model="vm.formData.endTime"></date-picker>
            </div>
          </div>
          <div class="form-group">
            <label for="packPerson" class="col-sm-4 control-label"><span class="text-danger">＊</span>打包人：</label>
            <div class="col-sm-4" style="padding-left: 0px">
              <input class="form-control input-sm" required name="packPerson" type="text" ng-model="vm.formData.packPerson" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-sm btn-success btn-round" w5c-form-submit="vm.ok()">保存</button>
        <button class="btn btn-sm btn-default btn-round" ng-click="vm.cancel()">取消</button>
      </div>
    </form>

  </div>
