<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <i class="fa fa-times"></i>
    </button>
    <h5 class="modal-title">详情查看</h5>
  </div>
  <div class="modal-body">
    <table class="table white-borderd">
      <thead>
        <tr>
          <th>工作类型</th>
          <th>工作量</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in vm.data">
          <td>{{vm.dicHelper.getDicName('workloadType', key)}}</td>
          <td>{{value.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
