$m-light-blue: #E1E8F2;
$m-dark-blue: #8C9BAE;
$m-text-blue: #4078BF;
$m-dark-gray: #272E37;
$m-light-gray: #7E8387;
$m-back-gray: #E9EAEB;
$m-ele-gray: #EEEEEE;
$m-title-gray: #F8F8F8;
$m-primary: $m-text-blue;
$m-danger: #E56A6C;
$m-warning: #F9AC5A;
$m-success: #9AC418;
$m-font-color: $m-dark-gray;
$m-font-color2: $m-light-gray;
$m-border-color: #DCE1E5;
$topic-1: #6A95D9;
$topic-2: #F7B672;
$topic-3: #9B90D4;
$topic-4: #B1D279;
$tag-back: #E6E6E6;