<div class="transferWrapper">
  <div class="dataOrigin leftBox">
    <div class="originTitle">
      {{originTitle ? originTitle : '所有病区'}}
    </div>
    <div class="searchInput">
      <input type="text" placeholder="在此搜索" ng-model="searchfilter" ng-change="searchChange()">
    </div>
    <div class="listWrapper">
      <ul>
        <li ng-if="!wardList || wardList.length === 0 || filterList.length === 0"></span>{{noDataText ? noDataText : '没有数据'}}</li>
        <li ng-repeat="item in wardList|filter:{wardName: searchfilter} as filterList" ng-click="selected(item)">
          <span ng-class="item.selected ? 'selectedBox' : 'selectBox'"></span>
          <span ng-class="item.selected ? 'selectedText' : ''">{{item.wardName}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="iconBox">
    <div>
      <img src="../../../assets/svg/arrow_left.svg" alt="" width="100%" height="100%" class="icon">
    </div>
  </div>
  <div class="dataOrigin rightBox">
    <div class="originTitle">
      {{selectTitle ? selectTitle : '已选病区'}}
    </div>
    <div class="listWrapper">
      <ul>
        <li ng-repeat="item in wardList|filter:{selected:true} as results">{{item.wardName}}</li>
        <li ng-if="!results || results.length === 0"></span>{{noSeletedText ? noSeletedText : '不选择则为全部'}}</li>
      </ul>
    </div>
  </div>
</div>
