<div class="modal-content">
  <form class="form-inlne form-horizontal w5c-form" name="deviceBindForm" role="form" novalidate w5c-form-validate="vm.validationOption"
    form="deviceBindForm">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title">{{vm.type}}班次信息</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="shiftName" class="control-label col-xs-3 partial-label">班次名称：</label>
        <div class="col-xs-8">
          <input name="shiftName" class="form-control input-sm" type="text" ng-model="vm.formData.shiftName" required/>
        </div>
      </div>
      <div class="form-group">
        <label for="status" class="col-sm-3 control-label">是否启用：</label>
        <div class="col-sm-9">
          <select name="status" class="form-control input-sm" required ng-model="vm.formData.status" name="showType" style="width: 200px">
            <option value="1">启用</option>
            <option value="9">停用</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="duration" class="col-sm-3 control-label">时间段：</label>
        <div class="col-sm-9" style="display:flex;">
          <time-picker name="duration" type="text" ng-model="vm.formData.startTimeString"></time-picker>
          <span style="margin:auto 0px;">&nbsp;—&nbsp;</span>
          <time-picker name="duration" type="text" ng-model="vm.formData.endTimeString"></time-picker>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-sm btn-round" w5c-form-submit="vm.ok()">确定</button>
      <button class="btn btn-default btn-sm btn-round" ng-click="$dismiss()">取消</button>
    </div>
  </form>
</div>
