<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      &times;
    </button>
    <h5 class="modal-title">头像上传</h5>
  </div>
  <form class="form-horizontal" role="form" novalidate w5c-form-validate name="form">
    
    <user-sign-upload ng-model="vm.formData"></user-sign-upload>
    
    <div class="modal-footer">
      <button class="btn btn-success btn-sm btn-round" w5c-form-submit="vm.ok()">确定</button>
      <button class="btn btn-warning btn-sm btn-round" ng-click="$dismiss()">取消</button>
    </div>
  </form>
</div>
