#mews-echart {
  width: 100%;
  height: 400px;
}

.mews-value-label {
  font-size: 12px;
}

.mews-score-label {
  color: $primary;
  font-size: 10px;
}

.mews-patient-toolbar {
  display: flex;
  >div {
    flex-basis: 20%;
    label {
      color: #777;
    }
  }
}

.mews-patient-info-inhoscode {
  flex-basis: 40% !important;
}

.mews-table {
  td {
    height: 40px;
    line-height: 40px;
    label {
      margin: auto 0px;
    }
  }
}
