<div class="paper-wrapper">
    <div class="toolbar">
      <div class="toolbar-item">
        时间：
  
        <date-picker
          style="width: 160px"
          ng-model="vm.tmpDate"
          ng-change="vm.loadContent.func()"
          time-codec="time-codec"
        ></date-picker>
      </div>
  
      <div class="toolbar-item">
        长临类别：
  
        <select
          class="form-control input-sm"
          ng-model="vm.params.isLongTerm"
          ng-change="vm.loadContent.func()"
        >
          <option value="">全部</option>
  
          <option
            value="{{item.dicCode}}"
            ng-repeat="item in vm.dicHelper.dic.orderLongTerm"
          >{{item.dicName}}</option>
        </select>
      </div>
  
      <div class="toolbar-item">
        执行状态：
  
        <select
          class="form-control input-sm"
          ng-model="vm.params.executeStatus"
          ng-change="vm.loadContent.func()"
        >
          <option value="">全部</option>
  
          <option
            value="{{item.dicCode}}"
            ng-repeat="item in vm.dicHelper.dic.orderExeStatus"
          >{{item.dicName}}</option>
        </select>
      </div>
  
      <div class="pull-right toolbar-item">
        <button
          class="btn btn-success btn-sm btn-round"
          print-landscape
          print-btn="print-btn"
        >打印</button>
      </div>
    </div>

    <div class="toolbar">
        <div
          class="toolbar-item"
          checkbox-team="vm.params.execTypeCodes"
          listener="vm.loadContent.func"
        >
          <label class="custom-checkbox">
            <input
              type="checkbox"
              checkbox-all="checkbox-all"
            ></input>
    
            <span>全部</span>
          </label>
    
          <checkbox-group
            ng-model="vm.params.execTypeCodes"
            eles="vm.dicHelper.dic.orderType"
            options="{text: 'dicName', value: 'dicCode'}"
          ></checkbox-group>
        </div>
      </div>
    
  
    <div class="flex-box">
      <div
        class="patients-left-list"
        loading-wrapper="vm.loadMenu"
        loading-type="menu"
      >
        <div class="panel panel-default">
          <div class="panel-heading">患者列表</div>
  
          <div
            class="panel-body"
            full-page="reverse"
          >
            <div
              checkbox-team="vm.params.inhosCodes"
              listener="vm.loadContent.func"
            >
              <div class="check-all">
                <label class="custom-checkbox">
                  <input
                    type="checkbox"
                    checkbox-all="checkbox-all"
                  ></input>
  
                  <span>全部</span>
                </label>
              </div>
  
              <checkbox-group
                ng-model="vm.params.inhosCodes"
                class="bodysign-patients__checkbox"
                eles="vm.patients"
                options="{value: 'inhosCode'}"
              ></checkbox-group>
            </div>
          </div>
        </div>
      </div>
  
      <div
        class="flex"
        loading-wrapper="vm.loadContent"
      >
        <div class="toolbar clearfix">
          <div
            class="col-xs-2"
            ng-repeat="item in vm.columns"
          >
            待{{item.name}}：{{vm.stat[item.taskCode] || 0}}个
          </div>
          <div class="col-xs-2">
            待执行：{{vm.stat.execute || 0}}个
          </div>
        </div>
        
        <div style="position: absolute;">
          <table class="table white-borderd group-table" style="table-layout: fixed; width: calc(100% - 6px);">
            <thead>
              <tr>
                <th rowspan="2">床位</th>
            
                <th rowspan="2">姓名</th>
            
                <th rowspan="2" style="width: 200px;">医嘱内容</th>
            
                <th rowspan="2">剂量</th>
            
                <th rowspan="2">配液类型</th>
            
                <th colspan="2" ng-repeat="column in vm.columns">{{column.name}}</th>
            
                <th colspan="2">执行</th>
              </tr>
            
              <tr>
                <th ng-repeat="item in vm.units">{{item.label}}</th>
            
                <th>护士</th>
            
                <th>时间</th>
              </tr>
            </thead>
          </table>
        </div>

        <div full-page="reverse">
          <table
            class="table white-borderd group-table" style="table-layout: fixed;"
            print-table="vm.list"
          >
            <thead>
              <tr>
                <th rowspan="2">床位</th>
    
                <th rowspan="2">姓名</th>
    
                <th rowspan="2" style="width: 200px;">医嘱内容</th>
    
                <th rowspan="2">剂量</th>
    
                <th rowspan="2">配液类型</th>
    
                <th
                  colspan="2"
                  ng-repeat="column in vm.columns"
                >{{column.name}}</th>
    
                <th colspan="2">执行</th>
              </tr>
    
              <tr>
                <th ng-repeat="item in vm.units">{{item.label}}</th>
    
                <th>护士</th>
    
                <th>时间</th>
              </tr>
            </thead>
    
            <tbody ng-repeat="item in vm.list">
              <tr ng-repeat="row in item.orderList">
                <td
                  ng-if="$first"
                  rowspan="{{item.orderList.length}}"
                >{{item.bedCode}}</td>
    
                <td
                  ng-if="$first"
                  rowspan="{{item.orderList.length}}"
                >{{item.patName}}</td>
    
                <td>
                  <div ng-repeat="text in vm.pluck(row.items, 'itemName') track by $index">{{text}}</div>
                </td>
    
                <td>
                  <div ng-repeat="text in vm.pluck(row.items, 'dosage') track by $index">
                    {{text}}{{vm.pluck(row.items, 'dosageUnit')[$index]}}
                  </div>
                </td>
    
                <td>{{vm.dicHelper.getDicName('dispenseType', row.isDispensed)}}</td>
    
                <td ng-repeat="unit in vm.units">
                  {{row.processInfo[unit.code] | idate: 'dh'}}
                </td>
    
                <td>{{row.executePerson}}</td>
    
                <td>
                  {{row.executeDate | idate: 'dh'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>