<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      &times;
    </button>
    <h5 class="modal-title">添加或编辑患者事件</h5>
  </div>
  <form class="form-horizontal w5c-form" name="deviceBindForm" role="form" novalidate w5c-form-validate name="form">
    <div class="modal-body">
      <div class="form-group">
        <label for="recordTime" class="col-sm-3 control-label">事件时间：</label>
        <div class="col-sm-8 flex-box">
          <date-picker ng-model="vm.formData.inputDate" date-options="vm.metaData.datePickerOption" style="width:180px;"></date-picker>
          <time-picker ng-model="vm.formData.inputTime" style="margin-left: 10px;"></time-picker>
        </div>
      </div>
      <div class="form-group">
        <label for="event" class="col-sm-3 control-label">事件类型：</label>
        <div class="col-sm-8">
          <input id="event" name="event" autocomplete="off" class="form-control input-sm" ng-model="vm.formData.event"
            ng-disabled="true" required style="display:none;" />
          <div class="patient-event-edit-type-panel">
            <div class="patient-event-edit-type-wrapper" ng-class="{'selected': opt.value == vm.formData.event}"
              ng-repeat="opt in vm.metaData.eventTypes" ng-click="vm.selectEventType(opt)">
              {{opt.text}}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-sm-3 control-label">事件发生科室：</label>
        <div class="col-sm-8">
          <span id="type" id="content" name="content" style="color:black" ng-disabled="true" class="form-control input-sm">{{vm.formData.wardName}}({{vm.formData.wardCode}})</span>
        </div>
      </div>
      <div class="form-group" ng-if="vm.formData.event == 'diagnosis'">
        <label for="content" class="col-sm-3 control-label">事件内容：</label>
        <div class="col-sm-8">
          <textarea id="type" id="content" name="content" ng-model="vm.formData.content" class="form-control input-sm"></textarea>
        </div>
      </div>
      <div class="form-group" ng-show="vm.formData.event == 'bedTransfer'">
        <label for="bedCode" class="col-sm-3 control-label">原床位：</label>
        <div class="col-sm-8">
          <input id="bedCode" name="bedCode" autocomplete="off" class="form-control input-sm" ng-model="vm.formData.bedCode" />
          <span ng-if="!vm.metaData.bedTransferValidate" style="color:red;">床位不能为空且不能等于新床位</span>
        </div>
      </div>
      <div class="form-group" ng-show="vm.formData.event == 'bedTransfer'">
        <label for="targetBed" class="col-sm-3 control-label">新床位：</label>
        <div class="col-sm-8">
          <input id="targetBed" name="targetBed" autocomplete="off" class="form-control input-sm" ng-model="vm.formData.targetBed" />
          <span ng-if="!vm.metaData.bedTransferValidate" style="color:red;">床位不能为空且不能等于原床位</span>
        </div>
      </div>
      <div class="form-group">
        <label for="hideTime" class="col-sm-3 control-label">在体征单隐藏时间</label>
        <div class="col-sm-8">
          <!-- <input id="hideTime" type="checkbox" name="hideTime" autocomplete="off" class="form-control input-sm" style="margin: 0px; width:auto !important;" ng-model="vm.formData.hideTime" /> -->
          <radio ng-model="vm.formData.hideTime" options="[{text:'显示', value:'0'}, {text:'隐藏', value:'1'}]"></radio>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-sm btn-round" w5c-form-submit="vm.ok()">确定</button>
      <button class="btn btn-default btn-sm btn-round" ng-click="$dismiss()">取消</button>
    </div>
  </form>
</div>
