<div class="modal-content device-modal-content">
  <div class="modal-header">
    <button ng-click="vm.cancel()" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title fz-12">升级详情</h5>
  </div>

  <div class="modal-body">
    <form class="form-horizontal static-form" role="form" novalidate="novalidate" w5c-form-validate="w5c-form-validate" name="form">
      <!-- <div class="form-row">
        <label class="col-xs-3 control-label">设备类型：</label>
        <span class="control-value">{{(vm.data.deviceType && (vm.metaData.deviceTypes | filter: { code: vm.data.deviceType })[0].name) || ''}}</span>
      </div>
      <div class="form-row">
        <label class="col-xs-3 control-label">设备名称：</label>
        <span class="control-value">{{vm.data.deviceName}}</span>
      </div>
      <div class="form-row">
        <label class="col-xs-3 control-label">所属科室：</label>
        <span class="control-value">{{(vm.data.wardCode && (vm.metaData.wards | filter: { wardCode: vm.data.wardCode })[0].wardName)}}</span>
      </div>
      <div class="form-row">
        <label class="col-xs-3 control-label">序列号：</label>
        <span class="control-value">{{vm.data.sn}}</span>
      </div>
      <div class="form-row">
        <label class="col-xs-3 control-label">MAC地址：</label>
        <span class="control-value">{{vm.data.mac}}</span>
      </div>
      <div class="form-row">
        <label class="col-xs-3 control-label">升级前版本：</label>
        <span class="control-value">{{vm.data.oldVersion}}</span>
      </div> -->

      <div class="divide-line">
        <span class="divide-line__title">设备信息</span>
      </div>

      <div class="form-row">

        <div class="form-group col-xs-6">
          <label class="col-xs-4 control-label">设备类型：</label>
          <label class="control-value">
            {{(vm.data.deviceType && (vm.metaData.deviceTypes | filter: { code: vm.data.deviceType })[0].name) || ''}}
          </label>
        </div>
        <div class="form-group col-xs-6">
          <label class="col-xs-4 control-label">设备名称：</label>
          <label class="control-value">
            {{vm.data.deviceName}}
          </label>
        </div>
        <div class="form-group col-xs-6">
          <label class="col-xs-4 control-label">所属科室：</label>
          <label class="control-value">
            {{(vm.data.wardCode && (vm.metaData.wards | filter: { wardCode: vm.data.wardCode })[0].wardName)}}
          </label>
        </div>
        <div class="form-group col-xs-6">
          <label class="col-xs-4 control-label">序列号：</label>
          <label class="control-value">
            {{vm.data.sn}}
          </label>
        </div>
        <div class="form-group col-xs-6">
          <label class="col-xs-4 control-label">MAC地址：</label>
          <label class="control-value">
            {{vm.data.mac}}
          </label>
        </div>
        <div class="form-group col-xs-6">
          <label class="col-xs-4 control-label">升级前版本：</label>
          <label class="control-value">
            {{vm.data.oldVersion}}
          </label>
        </div>
      </div>

      <div class="divide-line">
        <span class="divide-line__title">升级记录</span>
      </div>
      <table class="white-borderd table" style="border: 0px solid transparent">
        <colgroup>
          <col style="width: 30%">
          <col style="width: 40%">
          <col style="width: 30%">
        </colgroup>
        <tbody>
          <tr ng-repeat="row in vm.data.steps | orderBy : 'createTime' : desc">
            <td class="ng-binding">{{row.createTime}}</td>
            <td class="ng-binding">{{(vm.metaData.stepNames | filter: {code: row.stepName})[0].name}}</td>
            <td class="ng-binding">{{(vm.metaData.status | filter: {code: row.result})[0].name}}{{row.reason && " : " + (vm.metaData.reasons | filter: {code: row.reason})[0].name}}</td>
          </tr>
        </tbody>
    </form>
  </div>
</div>
