<div class="panel panel-layout panel-default">
  <div class="flex-box justify-between filter-bar form-inline">
    <div class="filter-bar__search" style="width:50%;">
      <search-input ng-model="vm.queryParams.key" search="vm.load.func()" text="关键字"></search-input>
    </div>
    <div class="filter-item">
      <button class="btn btn-link icon-btn primary-text" uib-tooltip="刷新" ng-click="vm.load.func()">
        <i class="iconmoon icomoon-refresh"></i>
      </button>
    </div>
  </div>
  <div class="filter-bar form-inline">

    <div class="filter-item">
      <div class="filter-item">
        <label>异常信息： </label>
        <select class="form-control input-sm" ng-change="vm.load.func()" ng-model="vm.queryParams.errorLevel" name="errorLevel" convertToNumber>
          <option value="">全部</option>
          <option ng-repeat="item in vm.errorInfos" value="{{item.code}}">{{item.name}}</option>
        </select>
      </div>
      <label>联网状态： </label>
      <select class="form-control input-sm" ng-change="vm.load.func()" ng-model="vm.queryParams.onlineStatus" name="onlineStatus" convertToNumber>
        <option value="">全部</option>
        <option ng-repeat="item in vm.connectInfos" value="{{item.code}}">{{item.name}}</option>
      </select>
    </div>

    <div class="filter-item">
      <label>设备类型： </label>
      <select class="form-control input-sm" ng-change="vm.load.func()" ng-model="vm.queryParams.eqpType" name="eqpType">
        <option value="">全部</option>
        <option ng-repeat="item in vm.types" value="{{item.code}}">{{item.name}}</option>
      </select>
    </div>

    <div class="filter-item">
      <label>所属病区： </label>
      <select class="form-control input-sm" ng-change="vm.load.func()" ng-model="vm.queryParams.eqpBelong" name="eqpBelong" convertToNumber>
        <option value="">全部</option>
        <option ng-repeat="item in vm.belongs" value="{{item.wardCode}}">{{item.wardName}}</option>
      </select>
    </div>
  </div>
  <div class="panel-body" loading-wrapper loading-type="content" loading-options="vm.load">
    <interval-loading time="60" cb="vm.load.func()"></interval-loading>
    <table class="white-borderd table table-hover device-monitoring__table" st-table="vm.devicesDisplay" st-safe-src="vm.statuses">
      <thead>
        <tr>
          <th>序号</th>
          <th>设备名称</th>
          <th>设备类型</th>
          <th>所属病区</th>
          <th>联网状态</th>
          <th>异常信息</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in vm.devicesDisplay track by $index">
          <td class="ng-binding">{{$index + 1}}</td>
          <td class="ng-binding">{{row.basicInfo.eqpName}}</td>
          <td class="ng-binding">{{ (vm.types | filter: { code: row.basicInfo.eqpType })[0].name }}</td>
          <td class="ng-binding">{{ (row.basicInfo.eqpBelong && (vm.belongs | filter: { wardCode: row.basicInfo.eqpBelong })[0].wardName) || '' }}</td>
          <td class="ng-binding" ng-class="{'success': row.onlineStatus == 1, 'danger': row.onlineStatus == 0}">
            {{(vm.connectInfos | filter: { code: row.onlineStatus })[0].name}}
          </td>
          <td class="ng-binding" ng-class="{'warning': row.errorLevel === 2, 'danger': row.errorLevel === 1}">
            {{(vm.errorInfos | filter: { code: row.errorLevel })[0].name}}
          </td>
          <td class="flex justify-around">
            <button class="btn btn-link btn-xs success-text" ng-click="vm.openDetail(row)">
              <i class="fa fa-files-o"></i>
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="8">
            <div st-pagination="" st-items-by-page="20" st-displayed-pages="5"></div>
          </td>
        </tr>
      </tfoot>
    </table>
    <none-data-info list="vm.statuses"></none-data-info>
  </div>
</div>
