.table-header__input-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.column {
  margin-bottom: 10px;

  .btn {
    margin-right: 5px;
  }
}

.sub-column {
  margin-left: 10px;
  padding: 5px 0 5px 10px;
  background-image: url('/assets/images/data_tier.png');
  background-repeat:  no-repeat;
  background-position: 0 1px;
  position: relative;

  &:after {
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    top: 1px;
    content: ' ';
    width: 10px;
    background-image: url('/assets/images/data_line.png');
    background-repeat:  repeat-y;
    background-position: left bottom;
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}

.table-header__width {
  border-radius: 0!important;
  padding: 0;
  text-align: center;
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
}

.table-header__right {
  flex-wrap: wrap;
  width: 100%;
}

.preview-table-container {
  overflow: hidden;
  margin: auto;
}

.grid-empty-line {
  background-image: url('/assets/images/data_empty_line.png');
}

.grid-line {
  background-image: url('/assets/images/data_line.png');
}

.estimate-preview__table {
  width: 100%;
  margin-bottom: 10px;
  tr > th {
    vertical-align: middle!important;
  }
}

.estimate-config-checkbox {
  margin: 5px 4px!important;
}

.estimate-form {
  .ng-invalid {
    border-color: $danger;
  }
}

.header-form__item {
  align-items: center;

  .form-control {
    display: inline-block;
  }

  &:first-child .header-form__item-label {
    margin-left: 0;
  }
}

.header-form__item-label {
  min-width: 60px;
  margin-left: 8px;
  text-align: right;
}

.toolbar-item-panel {
  width: 100%;
}