<div class="modal-content">
  <form class="form-inlne form-horizontal w5c-form"
        name="deviceBindForm"
        role="form"
        novalidate
        w5c-form-validate="vm.validationOption"
        form="deviceBindForm">
    <div class="modal-header">
      <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title">布尔类型设置</h5>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label for="cate" class="control-label col-xs-3 partial-label">真值：</label>
        <div class="col-xs-6">
          <input class="form-control input-sm" ng-model="vm.formData.trueValue" required name="trueValue"></input>
        </div>
      </div>
      <div class="form-group">
        <label for="cate" class="control-label col-xs-3 partial-label">假值：</label>
        <div class="col-xs-6">
          <input class="form-control input-sm" ng-model="vm.formData.falseValue" required name="falseValue"></input>
        </div>
      </div>

    </div>
    <div class="modal-footer clearfix">
      <button class="btn btn-sm btn-success btn-round" type="button" ng-click="vm.ok()">保存</button>
      <button class="btn btn-sm btn-default btn-round" type="button" ng-click="$dismiss()">取消</button>
    </div>
  </form>
</div>
