.setting-tabcontrol-page-header {
  background-color: $back-5;
  padding: 10px;
  border: 1px solid $border-3;
}


.panel {
  margin-bottom: 0px;
  border: 0px;

  &.bordered-left{
    padding: 0px;
    border-left: 1px solid $border-3;
  }
}
