.patient-order-list {
  padding: 0px 10px 0px 0px;

  .order-content {
    text-align: left !important;
  }
}

.order-row-tr-checked{
  background-color: $primary !important;
  color: white;
  border-bottom: 1px solid white;
}