<div class="modal-content device-modal-content">
    <div class="modal-header">
      <button ng-click="vm.cancel()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h5 class="modal-title">蓝桥配置详情</h5>
    </div>

    <div class="modal-body">
      <form class="form-horizontal static-form" role="form" novalidate="novalidate" w5c-form-validate="w5c-form-validate" name="form">
        <div class="base-field clearfix">
          <div class="form-row">
            <div class="form-group col-xs-4">
              <label for="configName" class="col-sm-6 control-label">配置名称：</label>
              <span class="control-value">{{vm.data.name}}</span>
            </div>

            <div class="form-group col-xs-4">
              <label for="wardCode" class="col-sm-6 control-label">所属病区：</label>
              <span class="control-value">{{(vm.data.wardCode && (vm.metaData.wards | filter: { wardCode: vm.data.wardCode })[0].wardName) || '全部'}}</span>
            </div>

            <div class="form-group col-xs-4">
                <button class="btn btn-success btn-sm btn-round" ng-click="vm.pushConfigs(vm.data)">
                  <i class="fa fa-play"></i>
                  &nbsp;
                  推送配置</button>
              </div>
          </div>

          <div class="divide-line">
            <span class="divide-line__title">网络设置</span>
          </div>
          <div class="form-row">

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">连接指定AP：</label>

              <span class="control-value">{{vm.data.content.apSsid}}</span>
            </div>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">密码：</label>
              <span class="control-value">{{vm.data.content.apPassWord}}</span>
            </div>

            <div class="form-group col-xs-4">
                <label class="col-xs-6 control-label">WLAN频带：</label>
                <span class="control-value">{{(vm.metaData.wlanBands | filter: { code: vm.data.content.WLANFreqBand })[0].value}}</span>
              </div>

              <div class="form-group col-xs-4">
                <label class="col-xs-6 control-label">加密方式：</label>

                <span class="control-value">{{(vm.metaData.encryptTypes | filter: { code: vm.data.content.encryptType })[0].value}}</span>
              </div>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">绑定指定SSID：</label>
              <label class="control-value">
                {{vm.getTrueOrFalse(vm.data.content.bindSsid)}}
              </label>
            </div>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">设置静态IP：</label>
              <label class="control-value" uib-tooltip tooltip-template="'ipTooltip.html'">
                {{vm.getTrueOrFalse(vm.data.content.MacIpMapping)}}
              </label>
            </div>

            <script type="text/ng-template" id="ipTooltip.html">
              <span ng-repeat='(key, value) in vm.data.content.MacIpMapping'>{{key}} - {{value}}</span>
            </script>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">网关：</label>

              <label class="control-value">
                {{vm.data.content.gateWay}}
              </label>
            </div>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">掩码长度：</label>

              <label class="control-value">
                {{vm.data.content.netLength}}
              </label>
            </div>

            <div class="form-group col-xs-4">
                <label class="col-xs-6 control-label">子网掩码：</label>

                <label class="control-value">
                  {{vm.data.content.netMask}}
                </label>
              </div>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">域名1：</label>

              <label class="control-value">
                {{vm.data.content.dns1}}
              </label>
            </div>

            <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">域名2：</label>

              <label class="control-value">
                {{vm.data.content.dns2}}
              </label>
            </div>
          </div>

        </div>
        <div class="divide-line">
          <span class="divide-line__title">其他设置</span>
        </div>

        <div class="form-row">

          <!-- <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">同步服务器时间：</label>
            <label class="control-value">
              {{vm.data.content.syncTime.timeServer}}
            </label>
          </div>
          <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">时间服务器：</label>

            <label class="control-value">
              {{vm.data.content.syncTime.timeServer}}
            </label>
          </div>

          <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">间隔：</label>

            <label class="control-value">
              {{vm.data.content.syncTime.syncInterval}}
            </label>
          </div>

          <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">启用系统密码设置：</label>
            <span class="control-value">
              {{vm.getTrueOrFalse(vm.data.content.sysPwdEnable)}}
            </span>
          </div>

          <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">密码：</label>
            <label class="control-value">
              {{vm.data.content.sysPassword}}
            </label>
          </div>

          <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">PDA扫描方式：</label>
            <label class="control-value">
              {{vm.data.content.pdaScanMethod}}
            </label>
          </div> -->

          <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">蓝桥服务器地址：</label>
            <label class="control-value">
              {{vm.data.content.serverIP}}
            </label>
          </div>

          <div class="form-group col-xs-4">
              <label class="col-xs-6 control-label">蓝桥服务器地址：</label>
              <label class="control-value">
                {{vm.data.content.serverPort}}
              </label>
            </div>

          <!-- <div class="form-group col-xs-4">
            <label class="col-xs-6 control-label">OTA升级地址：</label>
            <label class="control-value">
              {{vm.data.content.OTA}}
            </label>
          </div> -->
        </div>

        <div class="divide-line">
          <span class="divide-line__title">应用设备</span>
        </div>

        <div class="base-field clearfix">
          <div class="form-group col-xs-12">
            <button class="btn btn-label btn-sm btn-default" ng-repeat="mac in vm.data.devices" style="margin-right:3px; margin-bottom: 3px;">
              <i class="fa fa-mobile-phone fa-lg"></i>
              &nbsp;
              <span>{{mac}}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
