.table-seperate-line-td-l {
  position: relative !important;

  >div {
    height: 100%;
    width: 100%;
    position: relative !important;

    >span:first-child {
      position: absolute !important;
      bottom: 5% !important;
      right: 0px !important;
      text-align: center;
      vertical-align: text-bottom;
      width: 40% !important;
      word-break: break-all;
      word-wrap: break-word;
    }

    >span:last-child {
      position: absolute !important;
      top: 5% !important;
      left: 0px !important;
      text-align: center;
      width: 40% !important;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

.table-seperate-line-td-r {
  position: relative !important;

  >div {
    height: 100%;
    width: 100%;
    position: relative !important;


    >span:first-child {
      position: absolute !important;
      bottom: 10% !important;
      left: 5px !important;
      text-align: center;
      vertical-align: text-bottom;
      width: 50% !important;
      word-break: break-all;
      word-wrap: break-word;
    }

    >span:last-child {
      position: absolute !important;
      top: 10% !important;
      right: 5px !important;
      text-align: center;
      width: 50% !important;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

@media screen {
  .table-seperate-line-td-r {

    &.divide-show::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="100%" x2="0" y2="0" stroke="black" stroke-width="1"/></svg>');
      content: "";
    }

    &.divide-hidden::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="100%" x2="0" y2="0" stroke="transparent" stroke-width="1"/></svg>');
      content: "";
    }
  }
  .table-seperate-line-td-l {
    &.divide-show::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="0" x2="0" y2="100%" stroke="black" stroke-width="1"/></svg>');
      content: "";
    }

    &.divide-hidden::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="0" x2="0" y2="100%" stroke="transparent" stroke-width="1"/></svg>');
      content: "";
    }
  }
}

@media print {
  .table-seperate-line-td-r {
    &.divide-show::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="100%" x2="0" y2="0" stroke="black" stroke-width="1"/></svg>') !important;
      content: "";
    }
    &.divide-hidden::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-color: transparent;
      content: "";
    }
  }
  .table-seperate-line-td-l {

    &.divide-show::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="100%" y1="0" x2="0" y2="100%" stroke="black" stroke-width="1"/></svg>') !important;
      content: "";
    }
    &.divide-hidden::before {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      background-color: transparent;
      content: "";
    }
  }
}
